.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App {
  background-image: url("./images/homepage-background.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}