@font-face {
    font-family: 'Pokemon Font';
    src: url('./fonts/Pokemon_Solid.ttf') format('truetype'); 
    font-weight: normal; 
    font-style: normal; 
  }

#location-card{
    width: 620px;
    background-image: url('./images/wooden_ui_components/panel_detail.png');
    background-size: 620px 195px;
    margin: 5px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

#location-name{
    color: #3085C3;
    font-family: 'Pokemon Font';
    font-size: 30px;
    letter-spacing: 0.2cm;
    position: relative;
    top: -30px;
    -webkit-text-stroke: 0.5px #E9B824;
}

#travel{
    padding: 0;
    position: relative;
    top: -50px;
    width: 180px;
    height: 55px;
    background-image: url('./images/wooden_ui_components/visit_location_button.png');
    background-size: 200.5px 70px; 
    background-position: -10.5px -7px;
    border: none;
}

#travel-button{
    background-color: transparent;
    position: relative;
    border: none;
    margin: 0;
    padding: 0;
    top: 2.5px;
    font-family: 'Pokemon Font';
    color: rgb(252, 252, 252);
    -webkit-text-stroke: 1px black;
    font-size: 15px;
    letter-spacing: 0.07cm;
}

.allies{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
}

.enemy{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
}

.back-to-location{
        padding: 0;
        background-color: transparent;
        border: none;
        background-image: url('./images/wooden_ui_components/visit_location_button.png');
        width: 200px;
        height: 50px;
        background-size: 200px 50px;
        position: relative;
        top: -20px;
        font-family: 'Pokemon Font';
        color: rgb(252, 252, 252);
        -webkit-text-stroke: 1px black;
        font-size: 15px;
        letter-spacing: 0.01cm;
}

.back-to-location span {
    position: relative;
    top: -5px; /* Lift the text by 2 pixels */
}

#go-back{
    padding: 0;
    background-color: transparent;
    border: none;
    background-image: url('./images/wooden_ui_components/visit_location_button.png');
    width: 200px;
    height: 50px;
    background-size: 200px 50px;
    position: relative;
    top: -20px;
    font-family: 'Pokemon Font';
    color: rgb(252, 252, 252);
    -webkit-text-stroke: 1px black;
    font-size: 15px;
    letter-spacing: 0.01cm;
    margin: 10px;
}

#empty-location{
    padding: 0;
    background-color: transparent;
    border: none;
    background-image: url('./images/wooden_ui_components/visit_location_button.png');
    width: 980px;
    height: 80px;
    background-size: 980px 80px;
    position: relative;
    top: -20px;
    font-family: 'Pokemon Font';
    color: rgb(252, 252, 252);
    -webkit-text-stroke: 1px black;
    font-size: 20px;
    letter-spacing: 0.05cm;
    margin: 20px;
}

#empty-location p {
    position: relative;
    top: -15px;
}

#go-back span {
    position: relative;
    top: -5px; 
}